/* comment */
header {
    background-color: #f0f0f0;
    overflow: hidden;
    height: max(10vh, 50px);
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

header .logo {
    float: left;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(44, 44, 44);
    font-size: 50px;
}

header .site-navigation {
    float: right;
    height: 100%;
    margin-right: 10px;
}

header .nav-button {
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-style: bold;
    color: black;
    transition: 0.5s;
    margin: 0px;
}

header .nav-button:hover {
    background-color: #797a7a50;
    border-radius: 2px;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0eeee;
}
main {
    display: inline;
    margin: 15px;
}
main .row {
    display: flex;
}
main .card {
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

main div .main-image {
    padding: 0%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

main .bio {
    width: 15vw;
    font-size: 100%;
    text-align: center;
}

main .bio .profile-picture {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
} 
main .bio .name {
    font-size: 200%;
    margin-top: 10px;
    margin-bottom: 10px;;
}


main .bio .link-icon-container .link-icon {
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    width: 5%;
}



footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

@media screen and (max-width: 500px) {
    main {
        background-color: black;
        display: inline;
    }
    main .bio {
        width: 100vw;
        font-size: 25px;
        text-align: center;
    }
  }