

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0eeee;
}

nav {
    align-content: right;
}


header {
    background-color: #fff;
    color: white;
    display: flex;
    a {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: black;
        font-size: 50px;
    }
    nav {
        display: flex;
    }
    button {
        border: none;
        background-color: transparent;
        font-size: 15px;
        font-style: bold;
        color: black;
    }
    button:hover {
        background-color: #198b8b50;
    }
}

main {
    display: block;
}
main div{
    margin: 15px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     .main-image {
        padding: 0%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     }
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}
